.nav{
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
}

.nav_wrapper{
    margin:  0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}

.nav_links{
    display: flex;
    font-size: 18px;

    @media (max-width: 815px) {
        display: none;
    }
}

.burger{
    

}

.nav_link_list{
    &:not(:last-child){
        margin-right: 50px;
    }
    cursor: pointer;
}

.unselected{
    color: #343434;

}

.unselected.active,
 .unselected:hover{
    color: #388AF3;
    position: relative;

   
}

.unselected.active{
    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 7px;
        height: 7px;
        background: #388AF3;
        border-radius: 50%;
        transform: translate(-50%, 50%);
    }
}

.nav_end_wrapper{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav_lang{
    display: inline-flex;
   
}

.lang{
    &:not(:last-child){
        margin-right: 15px;
    }
    cursor: pointer;
    color: #343434;

}

.go_to_text{
color: #343434;
&:hover{
    color: #388AF3;
}
}

.nav_go_project{
    position: relative;
   
}

.go_to_image{
    background-image: url("../../../assets/navbar/go_arrow.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: auto;
    background-size: cover;
    background-position: center;
}