.contacts{
    margin-top: 140px;
}

.contacts_to{
    font-size: 18px;
    margin: 0;
}

.contacts_main_title{
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    color: #388AF3;
    margin: 60px 0 0;
}

.contacts_main_description{
    font-size: 20px;
    text-transform: capitalize;
}

.contacts_main_mail{
    color: #388AF3;
    font-size: 20px;

}

.contacts_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 162px;


}

.contacts_content{
    width: 100%;
}

.gradient_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 277px;
    height: 277px;
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    // background: #000;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 50%;
position: relative;
margin-top: 70px;
    
  
    $border: 5px;
    color: #388AF3;
    background: #fff;
    background-clip: padding-box; 
    border: solid $border transparent;
    border-radius: 50%;
justify-content: center;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; 
      border-radius: inherit; 
      background: linear-gradient(to right, #388AF3
      , #A483E2);
    }

    &:hover{
        background: #388AF3;
        color: #fff;
        transition: .2s ease-out;
    }
}


.gradient_button{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button_image:hover{
        background-position-y: 3px;
        background-position-x: 206px;
    }
}
.button_image{
    background-image: url('../../../assets/form/plane.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: auto;
    width: 100%;
    height: 80%;
    background-position-y: 20px;
}

.button_text{
    font-size: 24px;
    text-align: center;
}